/*VARIÁVEIS*/
:root{
    --preto: #000000;
    --cinza: #393C41;
    --cinza-claro: #6E7378;
    --preto-transparente: rgba(23, 26, 32, 0.8);
    --branco-transparente: rgba(255, 255, 255, 0.65);
    --fonte-branca: #FFF;
    --fonte-preto: #000;
    --transparente: #dde8ed;
}

/*FONTES*/
@font-face{
    font-family: GothanMedium;
    src: url(../fontes/GothamMedium.otf);
}

@font-face{
    font-family: GothanBook;
    src: url(../fontes/GothamBookRegular.otf);
}

/*CONFIG PADRÃO*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px; 
    font-family: 'GothanMedium', Helvetica, Arial;
}

/*CABEÇALHO*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

header ul li{
    list-style: none;
    
}

header .logo{
    width: 120px;
    margin-left: 20px;
}

header .centro ul{
    display: flex;
}

header .centro li{
    margin: 0 10px;
}

header .centro a{
    text-decoration: none;
    color: var(--preto);
    text-transform: uppercase;
    padding: 10px;
    transition: all 0.3s;
    border-radius: 10px;
} 

header .centro a:hover{
    background-color: var(--transparente);
    border-radius: 10px;
}

header .ladoright ul{
    display: flex;
}

header .ladoright li{
    margin: 0 10px;
}

header .ladoright a{
    text-decoration: none;
    color: var(--preto);
    text-transform: uppercase;
    padding: 10px;
    transition: all 0.3s;
    border-radius: 10px;
}

header .ladoright a:hover{
    background-color: var(--transparente);
    border-radius: 10px;
}

header .menu-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 18px;
    height: 16px;
    cursor: pointer;
}

header .menu-icon div{
    height: 2px;
    background-color: var(--preto);
}

/*PRINCIPAL*/
main{
    background-image: url(../img/model-s.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

main .info{
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main h1{
    font-size: 40px;
    font-weight: normal;
    color: var(--cinza);
    margin: 5px;
}

main h2{
    font-size: 14px;
    font-weight: normal;
    font-family: 'GothanBook', Helvetica, Arial;
    color: var(--cinza-claro);
}

main h2 a{
    color: var(--cinza);
}

/*RODA PÉ*/
footer{
    position: fixed;
    left: 0;
    bottom: 30px;
    right: 0;
}

footer .botao-area{
    display: flex;
    justify-content: center;
}

footer .botao-area a{
    display: block;
    width: 250px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    padding: 15px;
    border-radius: 30px;
    margin: 0 10px;
}

footer .botao-black{
    background-color: var(--preto-transparente);
    color: var(--fonte-branca);
}

footer .botao-white{
    background-color: var(--branco-transparente);
    color: var(--fonte-preto);
}

footer .seta-area {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 30px;
}

@keyframes setinha{
    0%{
        margin-top: 0px;
    }

    50%{
        margin-top: 15px;
    }

    100%{
        margin-top: 0px;
    }
}

footer .setinha{
    height: 15px;
    animation-name: setinha;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/*RESPONSIVIDADE*/
@media(max-width: 1200px){
    header .centro{
        display: none;
    }

    header .ladoright li{
        display: none;
    }

    header .ladoright li.menu{
        display: block;
        margin-right: 20px;
    }
}

@media(max-width: 600px){
    footer .botao-area{
        flex-direction: column;
        align-items: center;
    }

    footer .botao-area a{
        margin: 10px 20px;
        width: calc(100vw - 60px);
    }
}