/*CONFIG RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*CONFIG FUNÇÃO CORES*/
:root{
    --preto: #000;
    --branco: #feffff;
    --cinza: #8a8a8a;
    --cinza-escuro: #1e1e1e;
    --amarelo: #f1ec40;
}

/*CONFIG GLOBAL*/
h1 {
    font: normal 70px 'Montserrat', sans-serif;
    color: var(--amarelo);
    white-space: nowrap;
    overflow: hidden;
}

/*CONFIG MENU*/
header{
    height: 77px;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.top {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 50px;
}


#menu-toggle {
    display: none;
    margin: 20px 50px 0px 0px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
}

.line1, .line2, .line3 {
    background: var(--amarelo);
    height: 3px;
    width: 33px;
    margin-bottom: 7px;
}

#menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

    #menu ,ul{
        display: flex;
        align-items: center;
    }

        #menu ,ul ,a{
            text-decoration: none;
            list-style: none;
            padding: 20px;
            color: var(--branco);
            font: 400 18px 'Montserrat', sans-serif;
            transition: all 0.5s;
        }

            .button-menu a:hover{
                color: var(--amarelo);
                border-bottom: 1px solid var(--amarelo);
                padding-bottom: 15px;
            }  

.icones-menu{
    display: inline-flex;
}

    .icones-menu img{
        height: 40px;
        width: 40px;
        transition: all 0.5s;
    }

        .icones-menu img:hover{
            transform: scale(1.2);
        }

.logomarca img{
    width: 40px;
    height: 40px;
}

    .button-menu .logo a{
        border-bottom: none;
    }

/*CONFIG BANNER*/
#banner{   
    height: 100vh; 
    background: url(../img/background4.jpg) no-repeat center;
    background-size: cover;
    display: flex;
}

.banner-efeito{
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.banner-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

/*ANIMAÇÃO DE PALAVRAS*/
@keyframes surgimento{
    from{
        width: 0;
    }

    to{
        width: 100%;
    }
}

.banner-text h2{
    font: 600 25px 'Montserrat', sans-serif;
    color: var(--branco);
    white-space: nowrap;
    overflow: hidden;
}

.banner-text p{
    font: 600 25px 'Montserrat', sans-serif;
    color: var(--branco);
    white-space: nowrap;
    overflow: hidden;
}

.tempo-h1{
    animation: surgimento 3s linear .3s normal 1;
}

.tempo-h2{
    animation: surgimento 6s linear .3s normal 1;
}

.tempo-p{
    animation: surgimento 9s linear .3s normal 1;
}

.banner-button{
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 30px 0px 0px 100px;
}

    .banner-button a{
        padding: 10px 30px;
        border: 1px solid var(--branco);
        color: var(--branco);
        border-radius: 15px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

        .banner-button a:hover{
            color: var(--amarelo);
            border-color: var(--amarelo);
        }

.button{
    transition: all 0.5s;
}

    .button:hover{
        transform: scale(1.1);
    }

.ajuda{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
    margin: 0px 30px 30px 0px;
}

    .ajuda a{
        display: flex;
        align-items: center;
        gap: 10px;
        font: normal 16px 'Montserrat', sans-serif;
        text-align: right;
        color: var(--preto);
        background: var(--amarelo);
        border-radius: 30px;
        padding: 10px 30px;
    }

        .ajuda a:hover{
            transform: scale(1.1);
            background: var(--branco);
        }

    .ajuda img{
        height: 30px;
        width: 30px;
    }

/*ANIMAÇÃO DO MOUSE*/

@keyframes mouse{
    0%{margin-top: 0%;}
    50%{margin-top: 100%;}
    100%{margin-top: 0%;}
}

.mouse{
    width: 25px;
    height: 40px;
    border: 1px solid var(--branco);
    border-radius: 15px;
    margin: 0px 0px 30px 50%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .mouse .scroll{
        width: 2px;
        height: 7px;
        background: var(--branco);
        animation: mouse 1.5s .5s normal infinite forwards;
    }   

/*CLASS DISPLAY*/
.open {
    display: flex !important;
}

/*RESPONSIVIDADE PARA LAPTOP*/
@media(min-width: 769px) and (max-width: 1024px) {
    .banner-text h1 {
        font-size: 60px;
    }
}

/*RESPONSIVIDADE PARA TABLET*/
@media(min-width: 426px) and (max-width: 768px) {
    h1 {
        font: 40px;
    }

    #menu-toggle {
        display: inline-block;
    }

    #menu{
        display: none;
        justify-content: flex-start;
        flex-direction: column;
        width: 50%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        right: 0;
    }

        #menu ul{
            display: flex;
            align-items: center;
            flex-direction: column;
        }

            #menu ,li ,a{
                padding: 20px;
            }

    .icones-menu{
        flex-direction: column;
    }

        .icones-menu img{
            margin-bottom: 20px;
        }

    .ajuda img{
        display: none;
    }
}


/*RESPONSIVIDADE PARA CELULAR*/
@media(min-width: 375px) and (max-width: 425px) {
    .banner-text{
        margin-left: 0;
        padding: 0px 50px;
    }

    .banner-button{
        margin-left: 0;
    }

        .banner-button a{
            padding: 10px 20px;
        }
    
    h1 {
        font-size: 22px;
    }

    .banner-text h2{
        font-size: 16px;
    }
    
        .banner-text p{
            font-size: 16px;
        }

    .banner-efeito{
        justify-content: center;
        align-items: center;
    }

    .banner-description{
        align-items: center;
        justify-content: center;
    }

    #menu-toggle {
        display: inline-block;
    }

    #menu{
        display: none;
        justify-content: flex-start;
        flex-direction: column;
        width: 50%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        right: 0;
    }

        #menu ul{
            display: flex;
            align-items: center;
            flex-direction: column;
        }

            #menu ,li ,a{
                padding: 20px;
            }

    .icones-menu{
        flex-direction: column;
    }

        .icones-menu img{
            margin-bottom: 20px;
        }

    .ajuda img{
        display: none;
    }
}