:root{
    --verde: #41E89E;
    --branco: #fefefe;
    --roxo: #37003c;
    --preto: #000000;
    --cinza: #7a7a7a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--roxo);
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: var(--branco);
}

.conteiner{
    display: flex;
    max-width: 1160px;
    justify-content: space-between;
}

.logo{
    display: flex;
}

.logo img{
    height: 80px;
}

.menu{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: var(--roxo);
    padding: 20px;
    display: block;
    margin-left: 5px;
    transition: all 0.5s;
    border-radius: 30px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

nav a:hover{
    color: var(--verde);
}

#barra-pesquisa{
    display: flex;
    align-items: center;
    width: 274px;
    height:32px;
    border-radius: 10px;
}

#pesquisa{
    background-color:var(--roxo);
    width: 100%;
    padding:20px;
    font-size:18px;
    border:none;
    height: 100%;
    color: var(--branco);
    outline: none;
}

#barra-pesquisa a {
    height: 40px;
    width: 40px;
}

#lupa{
    height: 100%;
    background-color: var(--verde);
    display: flex;
}

@keyframes seta{
    0%{margin-bottom: 0%;}
    50%{margin-bottom: 1%;}
    100%{margin-bottom: 0%;}
}

#ancora-volta{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    animation: seta 2s linear infinite forwards;
}

#ancora-volta img{
    transform: rotate(180deg);
}

#bloco-1{
    display: flex;
    justify-content: center;
    height: 600px;
}

.descricao-bloco-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
} 

.descricao-bloco-1 h1{
    font-size: 50px;
    color: var(--verde);
    margin-bottom: 20px;
}

.descricao-bloco-1 h2{
    font-size: 20px;
    color: var(--verde);
    text-align: justify;
    margin-bottom: 20px;
}

.botao-bloco-1{
    display: flex;
}

.botao-bloco-1 a{
    text-decoration: none;
    padding: 20px;
    color: var(--branco);
    transition: all 0.5s;
    font-family: 'Roboto Mono', monospace;

}

.botao-verde{
    background-color: var(--verde);
    border: 1px solid var(--verde);
    border-radius: 10px;
}

.botao-branco{
    border: 1px solid var(--branco);
    border-radius: 10px;
    margin-left: 30px;
}

.botao-verde:hover{
    transform: scale(1.1);
}

.botao-branco:hover{
    transform: scale(1.1);
}

.imagem-blobo-1{
    flex: 1;
}

.imagem-bloco-1 img{
    width: 485px;
}

#bloco-2{
    display: flex;
    justify-content: center;
    height: 620px;
    background-color: var(--branco);
}

.descricao-bloco-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bloco-2 h1{
    font-size: 35px;
    width: 380px;
    color: var(--preto);
    margin-bottom: 20px;
}

#bloco-2 h2{
    color: var(--cinza);
    width: 400px;
    text-align: justify;
    margin-bottom: 20px;
}

.botao-bloco-2{
    display: flex;
}

.botao-bloco-2 a{
    text-decoration: none;
    color: var(--branco);
    padding: 20px;
    transition: all 0.5s;
    background-color: var(--roxo);
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;

}

.botao-bloco-2 a:hover{
    transform: scale(1.1);
}

.video-bloco-2{
    display: flex;
    align-items: center;
}

.video-bloco-2 video{
    box-shadow: -20px 17px 0px var(--verde);
}

#bloco-3{
    display: flex;
    justify-content: center;
    height: 680px;
}

.conteiner-column{
    display: flex;
    flex-direction: column;
    width: 1160px;
}

.descricao-bloco-3{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.descricao-bloco-3 h1{
    color: var(--verde);
    font-size: 50px;
    margin-bottom: 20px;
}

.descricao-bloco-3 h2{
    color: var(--verde);
    text-align: center;
    width: 500px;
    margin-bottom: 40px;
}

.conteudo-bloco-3{
    display: flex;
    justify-content: space-between;
}

.box-bloco-3 img{
    width: 350px;
    height: 260px;
    border: 5px solid var(--verde);
    transition: all 0.5s;
    opacity: 75%;
}

.box-bloco-3 img:hover{
    transform: scale(1.1);
    opacity: 100%;
}

.box-bloco-3 h1{
    color: var(--verde);
    text-align: center;
    margin-top: 20px;
    font-size: 30px
}

.box-bloco-3 p{
    color: var(--branco);
    text-align: center;
    margin-top: 20px;
    width: 350px;
}

#bloco-4{
    display: flex;
    justify-content: center;
    height: 620px;
    background-color: var(--branco);
}

.video-bloco-4{
    display: flex;
    align-items: center;
}

.video-bloco-4 video{
    box-shadow: 20px 17px 0px var(--verde);;
}

.descricao-bloco-4{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    justify-content: center;
}

.descricao-bloco-4 h1{
    font-size: 35px;
    color: var(--preto);
    margin-bottom: 20px;
}

.descricao-bloco-4 p{
    text-align: justify;
    margin-bottom: 20px;
}

.botao-bloco-4{
    display: flex;
}

.botao-bloco-4 a{
    text-decoration: none;
    color: var(--branco);
    background-color: var(--roxo);
    padding: 20px;
    border-radius: 10px;
    transition: all 0.5s;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

.botao-bloco-4 a:hover{
    transform: scale(1.1);
}

#bloco-5{
    display: flex;
    justify-content: center;
    height: 680px;
}

.descricao-bloco-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.descricao-bloco-5 h1{
    font-size: 50px;
    color: var(--verde);
    margin-bottom: 20px;
}

.descricao-bloco-5 p{
    color: var(--verde);
    text-align: center;
    width: 500px;
    margin-bottom: 40px;
}

.conteudo-bloco-5{
    display: flex;
    justify-content: space-between;
}

.box-bloco-5 img{
    width: 350px;
    height: 260px;
    border: 5px solid var(--verde);
    transition: all 0.5s;
    opacity: 75%;
}

.box-bloco-5 img:hover{
    transform: scale(1.1);
    opacity: 100%;
    border-radius: 20px;
}

.botao-bloco-5{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.botao-bloco-5 a{
    text-decoration: none;
    color: var(--branco);
    background-color: var(--verde);
    padding: 20px;
    border-radius: 40px;
    transition: all 0.5s;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

.botao-bloco-5 a:hover{
    transform: scale(1.1);
    color: var(--verde);
    background-color: var(--branco);
}

#bloco-6{
    display: flex;
    justify-content: center;
    height: 680px;
    background-color: var(--branco);
}

.descricao-bloco-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.descricao-bloco-6 h1{
    font-size: 35px;
    color: var(--preto);
    margin-bottom: 20px;
}

.descricao-bloco-6 p{
    color: var(--cinza);
    text-align: center;
    width: 500px;
    margin-bottom: 40px;
}

.conteudo-bloco-6{
    display: flex;
    justify-content: space-between;
}

.box-bloco-6 img{
    width: 350px;
    height: 260px;
    border: 5px solid var(--verde);
    transition: all 0.5s;
    opacity: 85%;
}

.box-bloco-6 img:hover{
    transform: scale(1.1);
    opacity: 100%;
    border-radius: 20px;
}

.conteudo-bloco-6 .box-bloco-6 h2{
    font-size: 25px;
    color: var(--preto);
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
}

.conteudo-bloco-6 .box-bloco-6 p{
    font-size: 18px;
    color: var(--cinza);
    margin-bottom: 20px;
    text-align: center;
}

#bloco-7{
    display: flex;
    justify-content: center;
    height: 400px;
    background-image: url(../img/portao-ynwa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.conteudo-bloco-7{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1160px;
}

.box-bloco-7 img{
    width: 160px;
}

.conteudo-bloco-7 .box-bloco-7 h2{
    font-size: 25px;
    color: var(--branco);
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
}

.conteudo-bloco-7 .box-bloco-7 p{
    font-size: 25px;
    color: var(--branco);
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
}

#bloco-8{
    display: flex;
    justify-content: center;
    height: 680px;
    background-color: var(--branco);
}

.descricao-bloco-8{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.descricao-bloco-8 h1{
    font-size: 35px;
    color: var(--preto);
    margin-bottom: 20px;
}

.descricao-bloco-8 p{
    color: var(--cinza);
    text-align: center;
    width: 500px;
    margin-bottom: 40px;
}

.conteudo-bloco-8{
    display: flex;
    justify-content: space-between;
}

.box-bloco-8 img{
    width: 350px;
    height: 260px;
    border: 5px solid var(--verde);
    transition: all 0.5s;
    opacity: 85%;
}

.box-bloco-8 img:hover{
    transform: scale(1.1);
    opacity: 100%;
    border-radius: 20px;
}

.conteudo-bloco-8 .box-bloco-8 h2{
    font-size: 25px;
    color: var(--preto);
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
}

.conteudo-bloco-8 .box-bloco-8 p{
    font-size: 25px;
    color: var(--cinza);
    text-align: center;
}

.botao-bloco-8{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.botao-bloco-8 a{
    text-decoration: none;
    color: var(--branco);
    background-color: var(--verde);
    padding: 20px;
    border-radius: 40px;
    transition: all 0.5s;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

.botao-bloco-8 a:hover{
    transform: scale(1.1);
    color: var(--verde);
    background-color: var(--roxo);
}

footer{
    display: flex;
    justify-content: center;
    height: 400px;
    background-color: var(--preto);
    color: white;
}

.conteudo-footer{
    display: flex;
    width: 1160px;
    justify-content: space-between;
    align-items: center;
}

.conteudo-footer h2{
    color: var(--branco);
    margin-bottom: 15px;
}

.conteudo-footer p{
    color: var(--cinza);
    margin-bottom: 10px;
    cursor: pointer;
}

.conteudo-footer p:hover{
    color: var(--verde);
    margin-bottom: 10px;
}

.form{
    display: flex;
    flex-direction: column;
}

.form h2{
    color: var(--branco);
    margin-bottom: 10px;
    text-align: end;
}

.caixa-email{
        display: flex;
        align-items: center;
        width: 340px;
        border-radius: 10px;
        margin-top: 30px;
}

#enviar{
    background-color:var(--roxo);
    padding:20px;
    font-size:18px;
    border:none;
    height:32px;
    width:300px;
    color: var(--branco);
    outline: none;
}

#telegram{
    height: 40px;
    background-color: var(--verde);
    display: flex;
}

.icones{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    gap: 15px;
}

.icones a{
    background-color: var(--verde);
    text-decoration: none;
    border-radius: 100%;
    display: flex;
    padding: 9px;
}

@media (min-width: 769px) and (max-width: 1024px){
    #header{
        padding: 0px 30px;
    }

    .logo img{
        height: 60px;
    }
    
    nav a{
        font-size: 16px;
    }

    #barra-pesquisa{
        width: 200px;
        height: 24px;
    }

    #pesquisa{
        font-size:16px;
    }

    #bloco-1{
        padding: 0px 30px;
    }
    
    .descricao-bloco-1 {
        flex: 1;
    }

    .descricao-bloco-1 h1{
        font-size: 35px;
    }
    
    .descricao-bloco-1 h2{
        font-size: 20px;
    }
    
    .botao-bloco-1{
        display: flex;
    }
    
    .botao-bloco-1 a{
        padding: 15px;
        font-size: 16px;
    }
    
    .imagem-blobo-1{
        display: flex;
    }
    
#bloco-2{
    padding: 30px;
}

.descricao-bloco-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bloco-2 h1{
    font-size: 35px;
    width: 380px;
    color: var(--preto);
    margin-bottom: 20px;
}

#bloco-2 h2{
    color: var(--cinza);
    width: 400px;
    text-align: justify;
    margin-bottom: 20px;
}

.botao-bloco-2{
    display: flex;
}

.botao-bloco-2 a{
    text-decoration: none;
    color: var(--branco);
    padding: 20px;
    transition: all 0.5s;
    background-color: var(--roxo);
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;

}

.botao-bloco-2 a:hover{
    transform: scale(1.1);
}

.video-bloco-2{
    display: flex;
    align-items: center;
}

.video-bloco-2 video{
    box-shadow: -20px 17px 0px var(--verde);
}






    
}